
.box-card
{
    width: 29%;
    float: left;
    margin: 10px;

    
}

/* 绝对布局相对其第一个relative的父布局进行定位，设置其bottom：0属性，父布局的高度由其它非相对定位布局的子元素决定*/

.imgfloatcontent
{
    width:100%;
    overflow: hidden;
    position: relative;
    height: 250px;
    /* background-position: center center;
    background-repeat:  no-repeat;
    background-size: 100% 100%; */
    text-align: center;
}

.imgcover
{
    width:100%;
    height:250px;
    background-color:#000;
    opacity:0.5;
    position: absolute;
}

.imgfloatcontent img{
    
    height:250px;
}

.imgfloatdiv
{
  position: absolute;
  bottom:0px;
  padding:0px;
  margin:0px;
  width: 100%;
}

.imgfloatdiv p
{
  /* position:absolute;
  bottom:0px;
  padding:0px;
  margin:0px */
  color: #fff;
  font-size: 14px;
  margin-left: 10px;
  
  overflow: hidden;
  /* text-overflow:ellipsis;
  white-space: nowrap; 一行 */
  font-weight: bold;


  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.btncontent
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 10px;
}

.btncontent button
{
    flex-grow:1;
    font-size: 15px;
    color: #fff;
    background-color: #409EFF;
    border-color: #409EFF;
    padding-top: 10px;
    padding-bottom: 10px;
    outline: none;
    border-radius: 5px;
    border: none;
    cursor:pointer;
}

/* :active，元素被点击时变色，但颜色在点击后消失
:focus， 元素被点击后变色，且颜色在点击后不消失 */

.btncontent button:hover
{
    opacity:0.8;
}

.btncontent button:active
{
    opacity:1;
}

.btn1
{
    
    margin-right:10px; 
}

.btn2
{
    
    margin-left:10px; 
}


@media only screen and (max-width: 768px) {
    .box-card
    {
        width: 100%;
    }
}


.clearfix::before, .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .clearfix::before {
    clear: both;
  }


  
.content:not(.custom) {
    max-width: 100%;
}

.imgfloatdiv a{
    color: #fff;
}