.videobk {
background-image: url(../img/videobk.png);
background-repeat:no-repeat;
width: 100%;
height: 100%;
overflow: hidden;
background-size:100% 100%;
position: absolute;
z-index: 99998;
display: block;
}
