<footer class="main-footer">
	<div class="footer-social">
		<div class="footer-container clearfix">
			<div class="social-list">
				<a class="social github" target="blank" href="{{site.github}}">GitHub</a>
				<a class="social github" target="blank" href="{{site.jianshu}}">简书</a>
				<a class="social github" target="blank" href="{{site.juejin}}">掘金</a>
				<a class="social github" target="blank" href="{{site.csdn}}">Csdn</a>
			</div>
		</div>
	</div>

	<div class="copyright">
		<p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
	</div>
</footer> <!-- End Footer -->
