<header class="main-header">
  <div class="wrapper">
    <div class="header-flex">
      <div class="menu-icon-container">
        <span class="menu-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
      </div>
      <nav class="main-nav">
        <span class="menu-icon-close"><i class="fa fa-times" aria-hidden="true"></i></span>
        <ul style="height:800px;overflow-y:scroll;overflow-y:auto;">
          <li><a href="{{site.baseurl}}/">Blog</a></li>
		   
          <li style="margin-bottom:200px;"><a href="{{site.baseurl}}/about">About</a></li>
        </ul>
      </nav>
      <p class="logo"><a href="{{site.baseurl}}/">{{ site.author }}</a></p>
      <div class="search-icon-container">
	    <a href="/" style="text-decoration: none; color: inherit;margin-right:20px;">Home</a>
		<a href="/about" style=" text-decoration: none; color: inherit;margin-right:20px;">About</a>
        <span class="search-icon"><a><i class="fa fa-search" aria-hidden="true"></i></a></span>
      </div>
    </div>
  </div>
</header> <!-- End Header -->
